#content::v-deep{
  .u-content{
    div{
      font-size: 24rpx;
      color: #6F6F6F;
      line-height: 48rpx !important;
    }
  }
}


.scence{
	
	.u-subsection{
		border-radius: 0 !important;
	}
}
